// === For Svelte ===
:global(html) {
	height: 100%;
	font-family: var(--font-primary);
	color: var(--color-text-0);

	:global(body),
	:global(li),
	:global(button),
	:global(input),
	:global(iframe) {
		all: unset;
	}

	:global(#svelte) {
		height: 100%;
	}

	// The button part is needed to make Firefox behave. Without this, add-space button in project modal won't be border-box.
	:global(*),
	:global(button) {
		box-sizing: border-box;
	}
}
