.placeholder-image {
	background-image: linear-gradient(45deg, #000 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #000 75%),
		linear-gradient(45deg, transparent 75%, #000 75%), linear-gradient(45deg, #000 25%, #fff 25%);
	background-size: 10px 10px; // Adjust the following values to change the bg image size.
	background-position: 0 0, 0 0, -25px -25px, 25px 25px; // And this one too with similar proportion.
	opacity: 0.15;
}
