// === Reset ===

@import './reset.scss';

// === Icons ===

@mixin icon-mask($icon-outline-url) {
	mask-image: $icon-outline-url;
	-webkit-mask-image: $icon-outline-url;

	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;

	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
}

@mixin icon-mask-hover($icon-filled-url) {
	mask-image: $icon-filled-url;
	-webkit-mask-image: $icon-filled-url;
}

// === Fonts ===

$woff2-fonts: (
	primary: open_sans_var,
	title: inter_var
);

@each $key, $fontName in $woff2-fonts {
	@font-face {
		font-family: $fontName;
		src: url('$assets/fonts/#{$fontName}.woff2') format('woff2 supports variations'),
			url('$assets/fonts/#{$fontName}.woff2') format('woff2-variations');

		font-weight: 1 1000;
	}
}

:root {
	@each $key, $fontName in $woff2-fonts {
		--font-#{$key}: '#{$fontName}';
	}
}

// === Colors ===

:root {
	--color-primary-0: #312766;
	--color-primary-1: #4a3a99;
	--color-primary-2: #624ecc;
	--color-primary-3: #7b61ff;
	--color-primary-4: #9581ff;
	--color-primary-5: #b0a0ff;
	--color-primary-6: #cac0ff;
	--color-primary-7: #e5dfff;
	--color-primary-8: #f2efff;
	--color-primary: var(--color-primary-4);

	--color-text-0: #000000;
	--color-text-1: #21242a;
	--color-text-2: #25292f;
	--color-text-3: #292d34;
	--color-text-4: #3e4248;
	--color-text-5: #54575d;
	--color-text-6: #696c71;
	--color-text-7: #7f8185;
	--color-text-8: #94969a;
	--color-text: var(--color-text-4);

	--color-bg-0: #c8cacc;
	--color-bg-1: #d1d3d5;
	--color-bg-2: #dadcde;
	--color-bg-3: #e3e5e7;
	--color-bg-4: #edeff1;
	--color-bg-5: #f1f2f4;
	--color-bg-6: #f6f7f8;
	--color-bg-7: #fafafa;
	--color-bg-8: #ffffff;
	--color-bg: var(--color-bg-4);

	--color-primary-light-0: #f2efff;
	--color-primary-light-1: #f3f1ff;
	--color-primary-light-2: #f5f2ff;
	--color-primary-light-3: #f6f4ff;
	--color-primary-light-4: #f7f5ff;
	--color-primary-light-5: #f9f7ff;
	--color-primary-light-6: #faf9ff;
	--color-primary-light-7: #fbfaff;
	--color-primary-light-8: #fcfcff;
	--color-primary-light: var(--color-primary-light-4);

	--color-misc-green: #71efa3;
	--color-misc-orange: #ffb900;
	--color-misc-tomato: #eb5757;
	--color-misc-orchid: #c019ba;
	--color-misc-turquoise: #56ccf2;
	--color-misc-blue: #2f80ed;
	--color-misc-coral: #f2822b;
	--color-misc-yellow: #ffff00;
	--color-misc-pink: #ff95a7;

	--color-brand-primary: #5c88ff;
	--color-brand-secondary: #e887ff;
}

// === Sizes ===

:root {
	--size-frame: 3.125rem;

	--size-context-option-icon: 0.875rem;
	--height-context-option: 2rem;


	--width-project-card: 16rem;
	--height-project-card: 12rem;


	--size-toggle-icon: 0.875rem;

	--size-icon: 0.875rem;
	--size-icon-2: 0.625rem;

	--size-icon-button: 1.75rem;
}

// === Paddings ===

:root {
	--padding-context-option-lr: 0.625rem;
	--padding-context-menu-tb: 0.25rem;

	--padding-toggle: 0.125rem;
	--padding-toggle-option: 0.375rem 0.75rem;
}

// === Margins ===

:root {
	--margin-context-option-icon-lr: 0.625rem;
}

// === Border ===

:root {
	--border-frame: 0.0625rem solid var(--color-bg-4);
	--border-frame-2: 0.0625rem solid var(--color-bg-1);
}

// === Radius ===

:root {
	--radius-primary: 0.3125rem; // 5px
	--radius-primary-2: 0.25rem; // 4px
	--radius-primary-3: 0.1875rem; // 3px
	--radius-primary-4: 0.125rem; // 2px
}

// === Shadows ===

:root {
	--shadow-grey: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1); // light
	--shadow-grey-2: 0 0 0.5rem 0 rgba(0, 0, 0, 0.25); // dark

	--shadow-toggle: 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
}
